html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
	display: block;
}

html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
}

*,
* :before,
* :after {
	box-sizing: inherit;
}

img,
object,
embed {
	max-width: 100%;
}

html {
	overflow-y: scroll;
}

ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

figure {
	img {
		margin-bottom: -0.3rem;
	}
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: 700;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

select,
input,
textarea {
	font: 99% sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

td,
td img {
	vertical-align: top;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
	cursor: pointer;
}

button,
input,
select,
textarea {
	margin: 0;
}

button,
input[type="button"] {
	width: auto;
	overflow: visible;
}

@keyframes spin-around {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

html {
	background: #fff;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	line-height: 1.25;
}

body {
	color: #202020;
	background: #fff;
	font-size: $body-font-size;
	line-height: 1.42857;
	letter-spacing: 1px;
	font-weight: 400;
}

a {
	color: #1e60a9;
	cursor: pointer;
	text-decoration: none;
	transition: none 86ms ease-out;
	&.default {
		text-decoration: underline;
		font-weight: 600;
	}
}

code {
	background: #f5f7fa;
	color: #42afe3;
	font-size: 12px;
	font-weight: normal;
	padding: 1px 2px 2px;
}

hr {
	border-top-color: #d3d6db;
	margin: 20px 0;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: baseline;
}

small {
	font-size: 11px;
}

strong {
	color: #222324;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
	display: block;
}

pre {
	background: #f5f7fa;
	color: #69707a;
	white-space: pre;
	word-wrap: normal;
}

pre code {
	background: #f5f7fa;
	color: #69707a;
	display: block;
	overflow-x: auto;
	padding: 16px 20px;
}

table {
	width: 100%;
}

table th,
table td {
	text-align: left;
	vertical-align: top;
}

table th {
	color: #222324;
}

button {
	outline: none;
}

form {
	input,
	textarea,
	select {
		outline: none;
	}
}

a,
button,
i,
span {
	transition-duration: 0.4s;
	&:hover {
		transition-duration: 0.4s;
	}
}

.center {
	text-align: center;
}
