
$color-blue-default: #265384;
$color-blue-primary: #325fa2;
$color-brown-default: #907A68;


// Default
$color-white-default: #ffffff;
$color-black-default: #000000;
$color-black-primary: #2f2f2f;
$color-black-secondary: #292929;
$color-grey-default: #444444;
$color-lightgrey-default: #e3e4e8;

// blue

$color-blue-secondary: #255698;
$color-darkblue-default: #26344A;
$color-darkblue-primary: #1F2A3B;
$color-lightblue-default: #258c9a;
$color-lightblue-primary: #5cb6b7;

// red
$color-red-default: #BA3636;
$color-red-primary: #383636;
$color-lightred-default: #c46062;
$color-lightred-primary: #df7d7f;
$color-darkred-default: #912C2C;

// green
$color-green-default: #42a36b;
$color-green-primary: #408873;
// $color-lightgreen-default: #bef0d1;
// $color-lightgreen-primary: #dcfce8;

// grey
$color-darkgrey-default: #666666;
$color-darkgrey-primary: #444444;
$color-grey-primary: #4D4D4D;
$color-grey-secondary: #707070;
$color-lightgrey-primary: #999999;